#about_me {
    margin-top: 40px;
}
#about_me h3 {
    display: inline-block;
    padding-bottom: 4px;
    margin-top: 28px;
    border-bottom: 1px solid red;
}
#about_me p {
    margin-top: 20px;
}
#about_me button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 1px solid brown;
    padding: 12px;
    border-radius: 30px;
    background-color: white;
    color: brown;
    cursor: pointer;
}
