#about_me p {
    font-weight: 300;
    font-size: 24px;
}
#about_me button {
    display: block;
    color: brown;
    background-color: #fff;
    margin:40px auto  0  auto;
}
#about_me button:hover {
    color: #fff;
    background-color: brown;
}
