* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
button {
    
    border-radius: 60px;
    color: brown;
    border: 3px solid brown;
    padding: 17px 30px;
    letter-spacing: 3px;
    font-size: 12px;
    
    cursor: pointer;
    font-weight: 800 ;
}
button:hover {
    background-color: brown;
    color: #fff;
}
.header_title {
    letter-spacing: 1px;
    margin-top: 100px;
    margin-bottom: 24px;
    font-size: 18.72px;
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 3px solid brown;
}
