#navigation {
    
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
#navigation .container {
    display: flex;
    justify-content: space-between;
}
#navigation .name {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 16px;
    font-size: 20px;
    font-weight: bolder;
}
.brand span {
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 6px;
}
.contact-icons{
    display: flex;
    align-items: center;
}
.contact-icons i {
    font-size: 28px;
    margin-left: 16px;
}
