.work_experience_container {
    display: flex;
}
.work {
    flex: 1;
    padding-right: 50px;
}
.time {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
}
.organization {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}
.role {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 500;
}
.work ul li {
    margin: 32px 0;
    position: relative;
    margin-left: 24px;
    font-weight: 300;
}
.work ul li::before {
    top: 6px;
    left: -23px;
    position: absolute;
    content: "";
    display: inline-block;
    padding: 4px;
    background-color: #000;
    border-radius: 100%;
}
.work ul {
    list-style-type: none;
    font-weight: 300;
}
