#work_experience {
    margin: 50px 0;
    
}
#work_experience h3 {
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 28px;
    border-bottom: 1px solid red;
}
.work_experience_container{
    display: flex;
}
.work {
    flex: 1;
    padding-right: 50px;
}
.time {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}
.organization {
    font-size: 24px;
    margin-bottom: 10px;
}
.role {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 20px;
}
.work ul li {
    margin: 12px 0;
}
