
.loading {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #8385aa;
    margin: 20px;

    animation: loading 1s infinite alternate;
}
@keyframes loading {
    to {
        opacity: 0.1;
        transform: translate(0, 32px);
    }
}
.icon2 {
    animation-delay: 0.25s;
}
.icon3 {
    animation-delay: 0.5s;
}
.icon4 {
    animation-delay: 0.75s;
}
