#download {
    padding: 150px 0px 140px;
    .download-content {
        padding-top: 52px;
        padding-right: 120px;
        span {
            color: #564dca;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            grid-area: auto;
            letter-spacing: 0.28px;
            line-height: 24.5px;
            margin: 0px 0px 18px;
            text-transform: uppercase;
            text-decoration: underline;
        }
        h2 {
            color: #030b15;
            font-family: Poppins;
            font-size: 45px;
            font-weight: 600;
            grid-area: auto;
            letter-spacing: -0.45px;
            line-height: 1.26;
            text-transform: capitalize;
            margin-bottom: 32px;
        }
        p {
            color: #727885;
            font-family: Outfit;
            grid-area: auto;
            line-height: 28px;
            margin: 0px 0px 44px;
        }
    }
    .download-link {
        a {
            margin-right: 20px;
        }
    }
    .download-img {
        padding-left: 20px;
    }
}
@media screen and (min-width: 740px) and (max-width: 1239px) {
    #download .container > .row {
        justify-content: center;
        flex-direction: column-reverse;
    }
    #download {
        padding: 150px 0px 140px;
        .row {
            .download-content {
                margin-top: 56px;
                padding: 0 24px;
            }
            .download-img {
                padding: 0;
                display: flex;
                justify-content: center;
                img {
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 739px) {
    #download .container > .row {
        justify-content: center;
        flex-direction: column-reverse;
    }
    #download {
        padding: 150px 0px 140px;
        .row {
            .download-content {
                margin-top: 56px;
                padding: 0;
                h2 {
                    font-size: 24px;
                }
                .download-link {
                    a {
                        margin: 0 6px;
                    }
                }
            }
            .download-img {
                padding: 0;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}
