footer {
    .container {
        position: relative;
        .container-top {
            padding: 70px 40px 65px;
            .menu {
                a {
                    margin-right: 60px;
                    display: inline-block;
                }
                justify-content: space-between;
            }
            .icons {
                justify-content: flex-end;
                i {
                    margin-left: 28px;
                    font-size: 24px;
                    line-height: 24px;
                    color: #0a142f;
                    opacity: 0.3;
                }
            }
        }
        .container-bottom {
            border-color: #f0f3f9;
            border-style: solid none none;
            border-width: 1px 0px 0px;
            padding: 40px;
            .container-bottom-right {
                justify-content: flex-end;
                a {
                    text-align: right;
                }
            }
        }
        .scoll-top {
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 50%;
            top: 55%;
            a {
                border-radius: 50%;
                background-color: #5252cc;
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 40px;
                border: none;

                i {
                    display: block;
                    margin: 0 auto;
                    transform: rotate(-90deg);
                    color: #f3f3f3;
                    font-size: 17px;
                    font-weight: 900;
                }
            }
            span {
                margin-top: 16px;
                font-size: 14px;
                text-align: center;
                line-height: 24.5px;
            }
        }
    }
}
