@import "./animation";
.tablet-moblie-nav {
    display: none;
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 0px 0px;
    z-index: 10000;
    .row {
        height: 100%;
    }
    .background-drop {
        opacity: 0.8;
        background: #0b1d33;
        width: 100%;
    }
    .custom-container {
        box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
        background: #0b1d33;

        height: 100%;
        .nav-header {
            padding: 30px 25px;
            .row {
                justify-content: space-between;
                img {
                    max-height: 65px;
                }
                i {
                    font-size: 20px;
                    color: #00c4f4;
                    cursor: pointer;
                }
            }
        }
        .nav-body {
            .nav-body-item {
                position: relative;
                overflow: hidden;
                .row {
                    position: relative;

                    span {
                        transition: all 0.5s ease-in-out;
                        position: absolute;
                        display: inline-block;
                        right: 15px;
                        top: 4px;
                        width: 32px;
                        height: 32px;

                        color: #fff;
                        background: #00c4f4;
                        cursor: pointer;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .nav-sub-menu {
                    transition: all 0.5s ease-in-out;
                    height: 0;
                    a {
                        padding: 10px 60px 10px 45px;
                    }
                }
                &:first-child {
                    a {
                        border-top: 1px solid rgba(255, 255, 255, 0.07);
                    }
                }
                a {
                    width: 100%;

                    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
                    display: inline-block;
                    padding: 10px 60px 10px 25px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    transition: all 0.5s ease-in-out;
                }
                a:hover {
                    color: #00c4f4;
                }
            }
            .nav-body-item.active span {
                transform: rotate(-180deg);
            }
        }
        .nav-footer {
            padding: 30px 25px 20px;
            .row {
                justify-content: space-between;
                a {
                    border-radius: 3px;
                    border: 1px solid rgba(255, 255, 255, 0.07);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    line-height: 32px;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}
.tablet-moblie-nav-active {
    display: block;
    animation: fadeRightToLeft 0.25s ease-in-out;
    animation-fill-mode: forwards;
}
.tablet-moblie-nav-disabled {
    display: block;
    animation: navToRight 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes navToRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        right: translateX(-1000px);
        z-index: -1000;
    }
}
header {
    .nav-sticky {
        background: #030b15;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        padding: 0;
    }
    nav {
        width: 100%;
        position: absolute;
        z-index: 1000;
        top: 0;
        right: 0;
        font-family: "Outfit", sans-serif;
        background-color: transparent;
        padding: 40px 0;
        .container {
            margin: 0 auto;
            width: 1488px;
            height: 100%;
            .row {
                align-items: center;
                flex-wrap: nowrap;
                height: 100%;

                .menu-nav {
                    display: block;
                    height: 100%;
                    padding-left: 146px;
                    .menu-item {
                        display: inline-block;
                        margin-right: 40px;
                        position: relative;
                        height: 100%;
                        &:hover a {
                            color: #00c4f4;
                        }
                        a {
                            line-height: normal !important;
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                        a.active {
                            color: #00c4f4;
                        }
                        .sub-menu-nav {
                            transform: perspective(400px) rotateX(-45deg);
                            transition: all 0.3s ease-out 0s;
                            visibility: hidden;
                            opacity: 0;
                            transform-origin: top center;
                            line-height: normal;

                            background-color: #0b1d33;
                            min-width: 230px;
                            position: absolute;
                            top: 300%;
                            left: 0;
                            box-shadow: #000000 0px 30px 70px 0px;
                            border: 1px solid rgba(255, 255, 255, 0.07);
                            padding: 18px 0;
                            li {
                                padding: 9px 15px 9px 25px;
                                &:hover a {
                                    color: #00c4f4;
                                }
                                a {
                                    margin: 9px 0;
                                    font-style: 14px;
                                    color: #ffffff;
                                    font-weight: 600;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                        &:hover .sub-menu-nav {
                            visibility: visible;
                            opacity: 1;
                            transform: perspective(400px) rotateX(0deg);
                        }
                    }
                }

                .menu-action {
                    .tablet-menu-action {
                        display: none;
                    }
                    margin-left: auto;
                    .menu-action-item {
                        display: inline-block;
                    }
                    .lang {
                        position: relative;
                        line-height: 60px;
                        .lang-selected {
                            font-size: 16px;
                            color: #ffffff;
                            cursor: pointer;
                            letter-spacing: 1px;
                            &::after {
                                content: "\f107";
                                display: span;
                                font-family: "Font Awesome 5 Free";
                                font-weight: 700;
                                color: #00c4f4;
                                margin-left: 10px;
                            }
                        }

                        &:hover .sub-menu-nav {
                            visibility: visible;
                            opacity: 1;
                            transform: perspective(400px) rotateX(0deg);
                        }
                        .sub-menu-nav {
                            transform: perspective(400px) rotateX(-45deg);
                            transition: all 0.3s ease-out 0s;
                            visibility: hidden;
                            opacity: 0;
                            transform-origin: top center;
                            min-width: 96px;

                            background-color: #0b1d33;
                            line-height: normal;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            box-shadow: #000000 0px 30px 70px 0px;
                            border: 1px solid rgba(255, 255, 255, 0.07);
                            padding: 0 16px;
                            li {
                                padding: 9px 0;
                                font-style: 14px;
                                color: #ffffff;
                                font-weight: 600;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .nav-button {
                        position: relative;
                        padding-left: 132px;
                        &::before {
                            content: "";
                            height: 20px;
                            opacity: 0.4;
                            position: absolute;
                            left: 25%;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 2px;
                            background: #ffffff;
                        }

                        button {
                            padding: 20px 45px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 740px) and (max-width: 1239px) {
    header {
        .nav-sticky {
            background: #030b15;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            padding: 10px 0;
        }
        nav {
            .container {
                width: 720px;
                .row {
                    line-height: normal;
                    .brand {
                        a {
                            img {
                                max-height: 65px;
                            }
                        }
                    }
                    .menu-nav {
                        display: none;
                    }

                    .menu-action {
                        .pc-menu-action {
                            display: none;
                        }
                        .tablet-menu-action {
                            display: flex;
                            .nav-button {
                                &::before {
                                    display: none;
                                }
                            }
                            li {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {
                                    margin-left: 36px;
                                    color: white;
                                    font-size: 30px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 739px) {
    header {
        nav {
            padding: 15px 0;
            .container {
                max-width: 360px;
                .row {
                    line-height: normal;
                    .brand {
                        a {
                            img {
                                max-height: 65px;
                            }
                        }
                    }
                    .menu-nav {
                        display: none;
                    }

                    .menu-action {
                        .pc-menu-action {
                            display: none;
                        }
                        .tablet-menu-action {
                            display: flex;
                            .nav-button {
                                display: none;
                                &::before {
                                    display: none;
                                }
                            }
                            li {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {
                                    margin-left: 36px;
                                    color: white;
                                    font-size: 30px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
