@import "grid.scss";
@import "./footer.scss";
button {
    align-items: flex-start;
    background-color: #564dca;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    grid-area: auto;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding: 21px 47px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}
a {
    color: #030b15;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #030b15;
    background-color: #a4b4c3;
    line-height: 28px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
    font-family: "Outfit", sans-serif;
    @include row;
    .brand {
        position: relative;
        h3 {
            position: absolute;
            top: 12px;
            left: 21px;
            font-weight: 400;
            color: white;
            strong {
                font-weight: 700;
            }
        }
    }
    .menu-nav {
        @include row;
    }
    .menu-action {
        @include row;
    }
}
.introduce {
    background-image: url("../img/banner_bg02.jpg");
    position: relative;
    .content {
        max-width: 1200px;
        h1 {
            font-size: 55px;
            font-weight: 600;
            letter-spacing: -0.55px;
            line-height: 74.8px;
            text-align: center;
        }
        img {
            display: block;
            max-width: 700px;
            height: auto;
            margin: 0 auto;
        }
        margin: 0 auto;
    }
    .icons-list {
        position: absolute;
        left: 55px;
        bottom: 90px;
        .icon-list--item {
            margin-bottom: 25px;
            border: 1px solid #f3f3f3;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 15px;
                color: #081a39;
            }
        }
    }
    .scoll-down {
        position: absolute;
        right: 55px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        span {
            color: #081a39;
            font-size: 12px;
            font-weight: 600;
            grid-area: auto;

            line-height: 21px;

            text-transform: uppercase;

            letter-spacing: 0.515em;

            transform: rotate(-90deg);
            margin-bottom: 120px;
            opacity: 0.4;
        }
        a {
            display: inline-block;
        }
    }
}
footer {
    .container {
        position: relative;
        .container-top {
            padding: 70px 40px 65px;
            .menu {
                a {
                    margin-right: 60px;
                    display: inline-block;
                }
                justify-content: space-between;
            }
            .icons {
                justify-content: flex-end;
                i {
                    margin-left: 28px;
                    font-size: 24px;
                    line-height: 24px;
                    color: #0a142f;
                    opacity: 0.3;
                }
            }
        }
        .container-bottom {
            border-color: #f0f3f9;
            border-style: solid none none;
            border-width: 1px 0px 0px;
            padding: 40px;
            .container-bottom-right {
                justify-content: flex-end;
                a {
                    text-align: right;
                }
            }
        }
        .scoll-top {
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 50%;
            top: 55%;
            button {
                border-radius: 50%;
                background-color: #5252cc;
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 40px;
                border: none;

                i {
                    transform: rotate(-90deg);
                    color: #f3f3f3;
                    font-size: 17px;
                    font-weight: 900;
                }
            }
            span {
                margin-top: 16px;
                font-size: 14px;
                text-align: center;
                line-height: 24.5px;
            }
        }
    }
}
#subscribe {
    padding: 64px 50px;
    // margin-top: -120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #516284 0px 26px 23px 0px;
    h2 {
        padding: 0;
        margin: 0;
        color: #030b15;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        grid-area: auto;
        letter-spacing: -1px;
        line-height: 48px;
        text-transform: capitalize;
    }
    .input {
        background-color: #f3f6fc;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
        justify-content: space-between;
        input {
            font-size: 16px;
            background-color: transparent;
            color: #030b15;
            display: inline-block;
            border: none;
            line-height: 20px;
            grid-area: auto;
            line-height: 20px;
            padding: 26px 215px 26px 25px;
        }
        button {
            display: inline;
        }
    }
}
