@import "./footer.scss";
@import "./introduce.scss";
@import "./nav.scss";
@import "./subscribe.scss";
@import "./variable.scss";
@import "./contact.scss";
@import "./download.scss";
@import "./outteam.scss";
@import "./about.scss";
@import "./reason.scss";
@import "./archives.scss";
@import "./faq.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
button {
    align-items: flex-start;
    background-color: #564dca;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    grid-area: auto;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding: 21px 47px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}
a {
    color: #030b15;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #030b15;
    background-color: #ffffff;
}
