footer .container {
  position: relative;
}
footer .container .container-top {
  padding: 70px 40px 65px;
}
footer .container .container-top .menu {
  justify-content: space-between;
}
footer .container .container-top .menu a {
  margin-right: 60px;
  display: inline-block;
}
footer .container .container-top .icons {
  justify-content: flex-end;
}
footer .container .container-top .icons i {
  margin-left: 28px;
  font-size: 24px;
  line-height: 24px;
  color: #0a142f;
  opacity: 0.3;
}
footer .container .container-bottom {
  border-color: #f0f3f9;
  border-style: solid none none;
  border-width: 1px 0px 0px;
  padding: 40px;
}
footer .container .container-bottom .container-bottom-right {
  justify-content: flex-end;
}
footer .container .container-bottom .container-bottom-right a {
  text-align: right;
}
footer .container .scoll-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 55%;
}
footer .container .scoll-top a {
  border-radius: 50%;
  background-color: #5252cc;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: none;
}
footer .container .scoll-top a i {
  display: block;
  margin: 0 auto;
  transform: rotate(-90deg);
  color: #f3f3f3;
  font-size: 17px;
  font-weight: 900;
}
footer .container .scoll-top span {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  line-height: 24.5px;
}

.introduce {
  background-image: url("../img/banner_bg02.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  position: relative;
  height: 820px;
}
.introduce::after {
  content: "";
  background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 722px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}
.introduce .content {
  max-width: 1200px;
  padding-top: 248px;
  align-items: center;
  margin: 0 auto;
}
.introduce .content h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.55px;
  line-height: 74.8px;
  margin: 0px 0px 65px;
  text-align: center;
}
.introduce .content img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.introduce .icons-list {
  position: absolute;
  left: 55px;
  bottom: 90px;
}
.introduce .icons-list .icon-list--item {
  margin-bottom: 25px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce .icons-list .icon-list--item i {
  font-size: 15px;
  color: #081a39;
}
.introduce .scoll-down {
  position: absolute;
  right: 55px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}
.introduce .scoll-down span {
  color: #081a39;
  font-size: 12px;
  font-weight: 600;
  grid-area: auto;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.515em;
  transform: rotate(-90deg);
  margin-bottom: 120px;
  opacity: 0.4;
}
.introduce .scoll-down a {
  display: inline-block;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  font-family: "Outfit", sans-serif;
  background-color: transparent;
  padding: 30px 0;
}
nav .container {
  margin: 0 auto;
  width: 1488px;
}
nav .container .row {
  justify-content: space-between;
  align-items: center;
}
nav .container .row .menu-nav {
  align-items: center;
}
nav .container .row .menu-nav .menu-item {
  margin-left: 66px;
  color: #ffffff;
  font-family: Outfit;
  font-weight: 600;
  letter-spacing: 1px;
}
#subscribe {
  position: relative;
  z-index: 1000;
  padding: 64px 50px;
  margin-top: -120px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 26px 23px rgba(81, 98, 132, 0.06);
}
#subscribe .title {
  align-items: center;
}
#subscribe .title h2 {
  padding: 0;
  margin: 0;
  color: #030b15;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -1px;
  line-height: 48px;
  text-transform: capitalize;
}
#subscribe .input {
  background-color: #f3f6fc;
  padding: 4px;
  border-radius: 4px;
  display: inline-block;
}
#subscribe .input .row {
  justify-content: space-between;
}
#subscribe .input .row input {
  font-size: 16px;
  background-color: transparent;
  color: #030b15;
  display: inline-block;
  border: none;
  line-height: 20px;
  grid-area: auto;
  line-height: 20px;
  padding: 26px 0px 26px 25px;
}

#contact {
  position: relative;
  background-image: url("../img/contact_bg02.jpg");
  background-position: 50% 50%;
  background-size: cover;
  grid-area: auto;
}
#contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 29px;
  background-image: url("../img/contact_shape01.png");
}
#contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 18px;
  background-image: url("../img/contact_shape02.png");
}
#contact .container {
  line-height: 28px;
  padding: 130px 40px 250px 40px;
}
#contact .contact-info h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -1.5px;
  line-height: 60px;
  margin: 0px 0px 35px;
  text-transform: capitalize;
}
#contact .contact-info .contact-info-item {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(246, 246, 246, 0.06);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 22px 32px;
  width: 69%;
  margin-bottom: 15px;
}
#contact .contact-info .contact-info-item img {
  width: 35px;
  height: 35px;
}
#contact .contact-info .contact-info-item p {
  color: #ffffff;
  font-family: Outfit;
  font-size: 15px;
  grid-area: auto;
  line-height: 21.9px;
}
#contact .sending-message {
  padding: 0px 15px;
}
#contact .sending-message h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.9px;
  line-height: 60px;
  margin: 0px 0px 35px;
}
#contact .sending-message input {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(246, 246, 246, 0.06);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 100%;
  letter-spacing: -0.02em;
  color: #030b15;
  font-weight: 400;
  font-size: 20px;
  padding: 17px 22px;
  line-height: 1.5;
  height: 66px;
  margin-bottom: 20px;
  display: block;
  transition: 0.3s linear;
}
#contact .sending-message textarea {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(246, 246, 246, 0.06);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 100%;
  letter-spacing: -0.02em;
  color: #030b15;
  font-weight: 400;
  font-size: 20px;
  padding: 17px 22px;
  line-height: 1.5;
  height: 66px;
  margin-bottom: 20px;
  display: block;
  transition: 0.3s linear;
}

#download {
  padding: 150px 0px 140px;
}
#download .download-content {
  padding-top: 52px;
  padding-right: 120px;
}
#download .download-content span {
  color: #564dca;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.28px;
  line-height: 24.5px;
  margin: 0px 0px 18px;
  text-transform: uppercase;
}
#download .download-content h2 {
  color: #030b15;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.45px;
  line-height: 56.7px;
  text-transform: capitalize;
  margin-bottom: 32px;
}
#download .download-content p {
  color: #727885;
  font-family: Outfit;
  grid-area: auto;
  line-height: 28px;
  margin: 0px 0px 44px;
}
#download .download-link a {
  margin-right: 20px;
}
#download .download-img {
  padding-left: 20px;
}

#out-team {
  background-image: url("../img/team_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 130px 0px 100px;
}
#out-team::before {
  content: "";
  width: 100%;
  height: 28px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/team_shape01.png");
  background-size: cover;
  background-position: center;
}
#out-team::after {
  content: "";
  width: 100%;
  height: 28px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../img/team_shape02.png");
  background-size: cover;
  background-position: center;
}
#out-team .title {
  margin-bottom: 72px;
}
#out-team .title h6 {
  justify-content: center;
  color: #ffffff;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 1.26px;
  line-height: 24.5px;
  padding: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
#out-team .title h6::before, #out-team .title h6::after {
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00c4f4;
  margin: 0 5px;
}
#out-team .title h2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 42px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.42px;
  line-height: 50.4px;
  text-align: center;
  text-transform: capitalize;
}
#out-team .title h2 span {
  font-size: 42px;
  font-weight: 600;
  color: #00c4f4 !important;
}
#out-team .out-team .out-team-item img {
  display: block;
  margin: 0 auto;
}
#out-team .out-team .out-team-item h2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  grid-area: auto;
  line-height: 26.4px;
  margin: 24px 0px 10px;
  text-align: center;
  text-transform: capitalize;
}
#out-team .out-team .out-team-item p {
  color: #a4b4c3;
  grid-area: auto;
  line-height: 28px;
  margin: 0px 0px 10px;
  text-align: center;
}
#out-team .out-team .out-team-item ul {
  justify-content: center;
}
#out-team .out-team .out-team-item ul li {
  padding: 10px;
}
#out-team .out-team .out-team-item ul li i {
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  grid-area: auto;
  line-height: 13px;
  text-align: center;
}

#about {
  padding: 130px 0px;
}
#about .container {
  position: relative;
}
#about .container .shape1 {
  left: 0;
  bottom: 0;
  position: absolute;
}
#about .container .shape2 {
  right: 0;
  top: 0;
  position: absolute;
}
#about .about-img {
  padding: 0px 15px;
}
#about .about-content {
  margin-top: 40px;
  padding: 0px 15px;
}
#about .about-content span {
  text-decoration: underline;
  color: #564dca;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.28px;
  line-height: 24.5px;
  margin: 0px 0px 18px;
  text-transform: uppercase;
}
#about .about-content h2 {
  color: #030b15;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.45px;
  line-height: 56.7px;
  text-transform: capitalize;
}
#about .about-content p {
  color: #727885;
  font-family: Outfit;
  grid-area: auto;
  line-height: 28px;
  margin: 0px 0px 20px;
}
#about .about-content ul li {
  align-items: baseline;
  color: #030b15;
  display: flex;
  font-family: Outfit;
  grid-area: auto;
  line-height: 28px;
  margin: 0px 0px 10px;
  text-align: left;
}
#about .about-content ul li i {
  color: #564dca;
  font-weight: 900;
  grid-area: auto;
  line-height: 16px;
  margin: 0px 10px 0px 0px;
  text-align: left;
}
#about button {
  margin-top: 40px;
}

#reason {
  background-image: url("../img/team_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 130px 0px 218px;
}
#reason::before {
  content: "";
  width: 100%;
  height: 28px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/team_shape01.png");
  background-size: cover;
  background-position: center;
}
#reason::after {
  content: "";
  width: 100%;
  height: 28px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../img/team_shape02.png");
  background-size: cover;
  background-position: center;
}
#reason h6 {
  justify-content: center;
  color: #ffffff;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 1.26px;
  line-height: 24.5px;
  padding: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
#reason h6::before, #reason h6::after {
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00c4f4;
  margin: 0 5px;
}
#reason h2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 42px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.42px;
  line-height: 50.4px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 62px;
}
#reason .reason-item {
  padding-right: 84px;
}
#reason .reason-item img {
  margin-bottom: 35px;
  display: block;
}
#reason .reason-item a {
  color: #f3fcfe;
  display: inline;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  grid-area: auto;
  line-height: 27.94px;
  display: block;
  margin-bottom: 24px;
}
#reason .reason-item p {
  color: #a4b4c3;
  font-family: Outfit;
  font-size: 15px;
  grid-area: auto;
  line-height: 22px;
}

#archives {
  position: relative;
  z-index: 10;
}
#archives .container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
  margin: -120px auto 10px;
  padding: 64px 75px 33px;
}
#archives .container .archives-item-title {
  margin-left: 32px;
}
#archives .container .archives-item-title span {
  color: #030b15;
  font-size: 48px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.96px;
  line-height: 40.8px;
  text-align: center;
  text-transform: capitalize;
}
#archives .container .archives-item-title p {
  margin-top: 4px;
  color: #646580;
  font-family: Outfit;
  grid-area: auto;
  line-height: 25.6px;
}

#faq {
  background-color: #f3f6fc;
  padding: 120px 0px 130px;
  position: relative;
}
#faq h2 {
  color: #030b15;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.45px;
  line-height: 56.7px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 64px;
}
#faq .faq-content .faq-item {
  cursor: pointer;
  margin-bottom: 24px;
}
#faq .faq-content .faq-item .question {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 37px 55px 37px 55px;
  text-align: left;
}
#faq .faq-content .faq-item .question h3 {
  color: #212529;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  grid-area: auto;
  line-height: 30px;
}
#faq .faq-content .faq-item .question i {
  font-weight: 700;
  font-size: 25px;
  transform: rotate(90deg);
  color: #132047;
  opacity: 0.3;
}
#faq .faq-content .faq-item .answer {
  background-color: #ffffff;
  line-height: 28px;
  padding: 0px 40px 45px 55px;
  color: #727885;
  font-family: Outfit;
  font-size: 18px;
  grid-area: auto;
  border-bottom: 4px solid #00c4f4;
}
#faq .img2 {
  position: absolute;
  top: 172px;
  right: 152px;
  animation-name: rolate360;
  animation-duration: 2s;
  animation-timing-function: linear;
}
#faq .img1 {
  position: absolute;
  bottom: 214px;
  left: 10%;
}

@keyframes rolate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  align-items: flex-start;
  background-color: #564dca;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.5px;
  line-height: 13px;
  padding: 21px 47px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

a {
  color: #030b15;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #030b15;
  background-color: #ffffff;
}/*# sourceMappingURL=main.css.map */